version: "3"
volumes:
  db-store:
services:
  app:
    tty: true
    build:
      context: .
      # PHP用dockerfileの配置パス
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./app:/var/www/html

  web:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - target: 80
        published: ${WEB_PUBLISHED_PORT:-80}
        protocol: tcp
        mode: host
    volumes:
      - type: bind
        source: ./app
        target: /var/www/html

  db:
    platform: linux/x86_64
    build:
      context: .
      dockerfile: ./docker/mysql/Dockerfile
    ports:
      - 3306:3306
    volumes:
      - type: volume
        source: db-store
        target: /var/lib/mysql
        volume:
          nocopy: true
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: db
      MYSQL_USER: db_docker
      MYSQL_PASSWORD: password
